* {
    margin: 10;
    padding: 0;
  }
  
  body {
      background-color: #e5e5e5;
      color: black;
      font-family: sans-serif;
  }
  
  .container {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: white;
      width: 410px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid  #bda1ff;
  }
  
  h1 {
      text-align: center;
      font-family: 'MrsBeasleyRegular';
      color: #bda1ff;
     font-weight: bold;
     font-style: normal;
  }
  
  .createTask {
      display: flex;
      gap: 5px;
  }
  
  #inputTask {
      width: 370px;
      height: 35px;
      border: 2px solid #bda1ff;
      border-radius: 10px 0px 0px 10px;
      font-size: 20px;
      color: #000;
      font-family: sans-serif;
      padding: 5px;
  }
  
  .createTask button {
      width: 30px;
      border: 2px solid black;
      border-radius: 0px 10px 10px 0px;
      background-color: #bda1ff;
      cursor: pointer;
  }
  
  #msg {
      color: red;
  }
  
  #tasks {
      position: relative;
      width: 410px;
  }
  
  #tasks div {
      margin: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 2px solid black;
      border-radius: 10px;
  }
  
  #tasks p {
      margin: 5px;
  }
  
  #tasks span {
      display: flex;
      text-align: center;
  }
  
  #tasks i {
      background-color: black;
      color: white;
      padding: 5px;
      margin: 5px;
      width: 50%;
      cursor: pointer;
  }
  
  #tasks i:hover,
  button:hover {
      background-color: white;
      color: #000;
  }
  
  #complete {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      display: none;
  }